<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо мне</title>
</head>
<body>
    <h2>Обо мне</h2>
    <img src="/static/me.jpg" width="200" height="250">

    <p>Мне 17 лет, живу в Волоколамске, закончил школу, неплохо сдал ЕГЭ.</p>


    <h2>Интересы</h2>
    <p>В данный момент учусь в летней школе GoTo и <b>мечтаю выспаться</b>.</p>
    <h2>Любимые фильмы</h2>
    <p>Занимаюсь горнолыжным спортом, программированием,  учу чешский язык.</p>
    <p>'Омерзительная восьмерка', 'В диких условиях', 'Аритмия'</p>

</body>
</html>